@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }

*{
    margin: 0px;
    padding: 0px;
    color: var(--text);
    font-family: "Roboto";
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.line1, .line2, .line3{
    width: 40px;
    height: 4px;
    margin: 10px;
    background-color: var(--text);
    display: none;

}
#nav-bar, #EXIT {
    display: none;
}
nav{
    position: absolute;
    width: 100%;
}
nav label{
    font-size: 16pt;
    font-weight: 700;
    padding-top: 10px;
    cursor: pointer;
    display: none;
}
#navega{
    display: flex;
    justify-content: space-between;
}
nav li{
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16pt;
}
main{
    display: flex;
}
aside{
    flex: 1;
    background-color: var(--background);
}
aside div{
    padding: 20%;
    font-weight: 700;
    font-size: 32pt;
}
aside p{
    font-size: 16pt;
    color: var(--text-description);
    margin: 20px 0px;
}
aside h2, aside a{
    font-size: 24pt;
    margin: 30px 0px;
}
aside a{
    background-color: var(--button);
    padding: 20px 60px;
    font-weight: 400;
    color: white;
}
section{
    flex: 2;
    background-color: var(--main-background);
    padding: 40px 0px 0px 0px;
}
.destaque{
    display: block;
    margin: auto;
}
section ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
section ul li{
    margin: 10px;
}
footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}
footer ul li{
    flex: 1;
    font-size: 18pt;
    text-align: center;
}
footer ul li iframe{
    height: 181px;
    flex: 2; 
    font-size: 0px   
}
.explorar{
    background-color: var(--footer);
    height: 181px;
    flex: 1.1;
}
.explorarmais{
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items:center;
    justify-content: center;
    line-height: 0px;
}

@media(max-width:1175px){
    aside div{
        font-size: 24pt;
    }
    aside a{
        padding: 15px 45px;
    }
    section ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer ul{
        flex-direction: column;
        background-color: #000;
        gap: 20px;
    }
    footer ul li a{
        color: white;
    }
    .explorar{
        padding-top: 10px;
    }
}

@media(max-width:912px){
    main{
        display: block;
    }
    .line{
        cursor: pointer;
    }
    .line1, .line2, .line3{
        display: block;
        position: relative;
        left: 90%;
        top: 100%;
    }
    .nav{
        width: 100vw;
    }
    #navega{
        position: absolute;
        background-color: var(--main-background);
        top: 0;
        right: 0;
        width: 40vw;
        height: 60vh;
        border-radius: 0px 0px 0px 8px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: 0.2s;
    }
    #nav-bar:checked ~ #navega{
        transform: translateX(0);
    }
    #EXIT:checked ~ #navega{
        transform: translateX(100%);
    }
    nav label{
        display: block;
    }
    aside div{
        padding: 10%;
    }
    .destaque{
        width: 100%;
    }
    section ul li img{
        display: none;
    }
    nav input{
        height: 30px;
    }
}
@media (max-width:550px){
    #navega{
        width: 100vw;
    }
    .line1, .line2, .line3{
    left: 80%;
    }
}